ul {
    list-style: none;
    color: var(--light-bg-solid);
    text-align: end;
    display: flex;
    flex-direction: column;
    width: 100%;
}

li {
    text-transform: uppercase;
    padding: 0.3rem 2rem;
}

li:hover {
    background-color: #4A4A4A;

}

div.off-screen-menu {
    background-color: var(--dark-900);
    height: 29vh;
    width: 16rem;
    max-width: 450px;
    position: fixed;
    top: 11rem;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-regular);
    font-family: var(--base-font);
    transition: .3s ease;
    border-radius: 11px 0 0 11px;
}

div.off-screen-menu.active {
    right: 0;
}


div.ham-menu {
    height: 50px;
    width: 30px;
    margin-left: auto;
    position: relative;
}

div.ham-menu span {
    padding: 3px;
    width: 100%;
    background-color: blueviolet;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

div.ham-menu span:nth-child(1) {
    top: 25%;
}

div.ham-menu span:nth-child(3) {
    top: 75%;
}

div.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

div.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

div.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}