.navbar {
    background-color: #4A4A4A;
    width: 100%;

}

img {
    width: 70%;
    height: auto;
}

picture {
    padding-left: 3vw;
}

/*Celulares*/

@media (max-width: 767px) {

    picture {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    div.container-fluid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


}

/*Extra 800px*/
@media (min-width:768px) and (max-width: 1800px) {}