<header>
    <nav class="navbar navbar-expand-lg pt-4 pb-3">
        <div class="container-fluid d-flex justify-content-between me-0 mx-auto">           
            <!-- Logo BA y titulo -->
            <article class="article-1">
                <div class="container border-end border-dark-subtle border-2">
                    <a href="https://agenciadeaprendizaje.bue.edu.ar/">
                        <img src="../../../../assets/logos/ba_logo.png" alt="logo" class="ms-lg-4" title="Inicio">
                    </a>
                </div>
                <div class="brand-title">
                    <h3>Titulo de sitio</h3>
                </div>
            </article>
            <!-- Links -->
            <article class="d-none d-sm-block article-2 ms-lg-5">
                <ul>
                    <li>Link 1</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                    <li>Link 4</li>
                    <li class="d-none d-md-block">
                        <span>
                            <img src="../../../../assets/logos/magnifying-glass-solid.svg" alt="search"
                                class="search-icon" title="Buscar">
                        </span>
                    </li>
                </ul>
            </article>
            <!-- Logo Agencia -->
            <article class="article-3">
                <span>
                    <a href="https://agenciadeaprendizaje.bue.edu.ar/">
                        <img src="../../../../assets/logos/agencia_logo.png" alt="logo" class="agencia-logo" title="Agencia de Aprendizaje">
                    </a>
                </span>
            </article>
        </div>
    </nav>
</header>